.sizes-block {
  display: flex;
}
.size-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.size-item {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 200;
  font-weight: 16px;
  margin-right: 25px;
}
@media (max-width: 850px) {
  .sizes-block {
    flex-direction: column;
  }
  .size-item {
    margin-bottom: 10px;
  }
}
