.tree-container {
  display: flex;
  justify-content: space-between;
  user-select: none;
}
@media (max-width: 1000px) {
  .tree-container {
    align-items: center;
    flex-direction: column;
  }
  .tree-container > div {
    width: 100%;
  }
}
